.sidebar{
    height: -webkit-fill-available;
}
.linked{
    background: #0d542b;
    color: #7bf1a8;
}
.unlinked{
    color: #81281a;
    background: #ff6467;
}
.dashboard h3, .dashboard p, .dashboard span{
    font-size: small;
}
.maxHeight{
    max-height: 250px;
    overflow-y: auto;
}